.audio-player {
  padding-inline-start: 30px;
  padding-block-end: 20px;
}

.title {
  font-weight: bold;
  color: #71797e;
}

.play {
  max-width: 80px;
}

.title .listen {
  font-weight: lighter;
  font-size: 10px;
  padding-inline-start: 2px;
}

@media (max-width: 1024px) {
  .audio-player {
    margin-inline-start: -10px;
  }
}
