.Synonyms {
  margin-block-start: 20px;
  padding-inline-start: 20px;
}

.Synonyms li {
  display: inline-block;
  padding-inline-end: 35px;
  font-size: 14px;
  margin-inline-start: -20px;
  font-weight: bolder;
  color: #71797e;
}
